
//----------------------------------------------------------------------
//
// Overrides
//
//----------------------------------------------------------------------

// Global:
//----------------------------------------------------------------------

body { background: #eceff1; }

// Container:
//----------------------------------------------------------------------

.builder-container-outer-wrapper {
	border: 0;
	box-shadow: none;
	background: none;
	margin: 25px auto;
}
.builder-module { background: none; }

// Header:
//----------------------------------------------------------------------

.builder-module-header .site-title a {
	font-size: 30px;
	line-height: 1;
	text-transform: lowercase;
	letter-spacing: .03em;
	color: #546e7a;
}
.builder-module-header .site-title a,
.builder-module-header .site-title a:visited { text-decoration: none; }
.builder-module-header .site-title a:visited:hover,
.builder-module-header .site-title a:focus,
.builder-module-header .site-title a:focus:hover,
.builder-module-header .site-title a:hover,
.builder-module-header .site-title a:active { color: #263238; }

.site-tagline {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: .05em;
	margin-top: 3px;
}
.site-tagline a,
.site-tagline a:visited {
	color: rgba(0, 0, 0, .54);
	text-decoration: none;
}
.site-tagline a:visited:hover,
.site-tagline a:focus,
.site-tagline a:focus:hover,
.site-tagline a:hover,
.site-tagline a:active {
	color: #000;
	font-size: inherit;
	line-height: inherit;
}

.builder-module-before-navigation .builder-module-block { margin: 0 0 25px; }

// Navigation:
//----------------------------------------------------------------------

.builder-module-navigation:before,
.builder-module-navigation:after {
	border: none;
	border-radius: 0;
}

.builder-module-navigation {
	margin: 0 !important;
	padding: 0 !important;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
	border-width: 0 0 3px;
	border-style: solid;
	border-color: #455a64;
	border-radius: 0;
	background: #607d8b;
	background: linear-gradient(to bottom, #78909c 0, #607d8b 100%);
	overflow: hidden;
}

.builder-module-navigation ul.menu > li { border: 0; }

.builder-module-navigation ul.menu > li a {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: .05em;
	text-shadow: 0 1px 1px #37474f;
	color: rgba(255, 255, 255, .8);
	border: 0;
	box-shadow: none;
	background: linear-gradient(to top, #546e7a 0, #607d8b 50%, transparent 50%);
	background-size: 100% 200%;
	padding: 5px 15px;
	-webkit-transition: background-position 150ms ease-in, color 250ms linear;
	   -moz-transition: background-position 150ms ease-in, color 250ms linear;
	    -ms-transition: background-position 150ms ease-in, color 250ms linear;
	     -o-transition: background-position 150ms ease-in, color 250ms linear;
	        transition: background-position 150ms ease-in, color 250ms linear;
}
.builder-module-navigation ul.menu > li a,
.builder-module-navigation ul.menu > li a:visited { text-decoration: none; }
.builder-module-navigation ul.menu > li a:visited:hover,
.builder-module-navigation ul.menu > li a:focus,
.builder-module-navigation ul.menu > li a:focus:hover,
.builder-module-navigation ul.menu > li a:hover,
.builder-module-navigation ul.menu > li a:active {
	color: #fff;
	background-position: 0 100%;
	background-color: transparent;
}

// Main content area:
//----------------------------------------------------------------------

.builder-module-middle-outer-wrapper {
	background: #fff;
	background-image: linear-gradient(to left, #cfd8dc 320px, transparent 320px);
}

// Sub navigation:
//----------------------------------------------------------------------

#IDX-lineBreak-detailsTopNav { display: none; }

// Details:
//----------------------------------------------------------------------

#IDX-detailsAddress {}

// Sidebar:
//----------------------------------------------------------------------

.builder-module-sidebar { padding: 25px 0; }

// Search box widget:
//----------------------------------------------------------------------

.widget,
.widget * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.widget.widget.widget.widget {
	background: none;
	box-shadow: none;
	border: 0;
	margin: 0 25px;
	padding: 0;
}

.widget.widget.widget .widget-title {
	font-weight: normal;
	font-size: 20px;
	letter-spacing: .03em;
	color: #607d8b;
	border-bottom: 2px solid #b0bec5;
	background: transparent;
	box-shadow: none;
	margin: 0 0 10px;
	padding: 0;
}

#IDX-quicksearch-30517 {
	background: transparent;
	border: 0;
	box-shadow: none;
	width: auto;
}

.widget .IDX-qsFieldWrap {
	text-align: left;
	margin: 0 0 10px;
	padding: 0;
}

/* Target children 2 through 5: */
.widget .IDX-qsFieldWrap:nth-child(n+2):nth-child(-n+5) {
	display: inline-block;
	width: 50%;
}
/* Only apply padding on right/left for even/odd children: */
.widget .IDX-qsFieldWrap:nth-child(n+2):nth-child(-n+5):nth-child(even)  { padding-right: 5px; }
.widget .IDX-qsFieldWrap:nth-child(n+2):nth-child(-n+5):nth-child(odd) { padding-left: 5px; }

.widget label {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: .05em;
	line-height: 1;
	color: #78909c;
	text-align: left !important;
	margin: 0 0 3px !important;
	display: block;
}
.widget label::after { content: ':'; }

.widget select,
.widget input {
	font-size: 16px;
	width: 100%;
	margin: 0;
}

.widget input { padding: 10px 15px; }
